<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Image Cycle Template</TITLE>
</head>
<body>

<h1>Image Cycle</h1>



<h2>TEMPLATE_CYCLE:</h2>

<!-- ###TEMPLATE_CYCLE### begin -->
<div id="###KEY###">
	<!-- ###IMAGES### -->###IMAGE###<!-- ###IMAGES### -->
</div> 
<!-- ###TEMPLATE_CYCLE### end -->

</body>
</html>

